@page
@model Service_App.Pages.AppointmentStats.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppointmentStatus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentStatus.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentStatus.Status)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AppointmentStatus?.Id">Edit</a> 
    <a asp-page="./Index">Back to List</a>
</div>
